.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  padding: 5px 10px;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}
