.drawerHeader {
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 0 16px;
  background-color: #f7f8fc;
  margin-bottom: 10px;
}

.drawerHeader_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
}

.closedDrawer_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.closedDrawer_card {
  visibility: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding: 0;
  justify-content: space-between;
}

.cardText {
  margin-left: 10px;
}
