.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.footerText {
  font-size: 14px;
  color: #000000;
}

.footer_rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}
