.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchButton {
  background-color: #f5f5f5;
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}
