.container {
  background-color: #f7f8fc;
  border: 1px solid #e0e0e0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cardFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}
