.headerContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #fff;
  padding: 0 20px;
  height: 60px;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-bottom: none;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.greetingContainer {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  white-space: nowrap;
}

.dayIcon {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.actionButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
}

.iconButton {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 7px;
  cursor: pointer;
}
.headerIcon {
  color: #e0c23c;
}
