.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content {
  margin-left: 300px;
  padding: 5px 10px;
}

.contentShift {
  margin-left: 70px;
}

.tasksContainer {
  background-color: #ffffff;
  height: 100%;
  border: 1px solid #e0e0e0;
  padding: 10px;
}
